<div class="form-group mb-4">
    <label for="title" class="mb-2">Title</label>
    <input required type="text" name="title" id="title" class="form-control">
</div>

<div class="form-group mb-4">
    <label for="description" class="mb-2">Description</label>
    <textarea name="description" id="description" class="form-control"></textarea>
</div>

<div class="form-group mb-4">
    <label for="markdown" class="mb-2">Markdown</label>
    <textarea name="markdown" id="markdown" class="form-control"></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
